<%= turbo_frame_tag contact do %>
  <div class="row" id="<%= dom_id contact %>">
    <div class="col-md-4">
      <%= contact.name %>
    </div>
    <div class="col-md-4">
      <%= contact.phone %>
    </div>
    <div class="col-md-4">
      <%= link_to "Delete", contact_path(contact), method: :delete, class: "btn" %>
      <%= link_to "Edit", edit_contact_path(contact), class: "btn" %>
    </div>
  </div>
<% end %>
