<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Contacts Count</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= turbo_frame_tag 'contacts_size' do %>
                <%= @contacts.size %>
              <% end %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">List</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Actions</div>
            <%= turbo_frame_tag 'contacts' do %>
              <%= link_to "New contact", new_contact_path, data: {turbo_frame: 'new_contact'}, class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="new_contact">
          <%= turbo_frame_tag 'new_contact' do %>
          <% end %>
        </div>
        <div class="contacts_list">
          <div class="row">
            <div class="col-md-4"><strong>Name</strong></div>
            <div class="col-md-4"><strong>Phone</strong></div>
            <div class="col-md-4"><strong>Actions</strong></div>
          </div>
          <%= turbo_frame_tag 'contacts_list' do %>
            <% @contacts.each do |contact| %>
              <%= render contact %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
