<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<div id="contacts">
  <%= turbo_frame_tag 'contacts' do %>
    <%= link_to "New contact", new_contact_path, data: {turbo_frame: 'new_contact'} %>
  <% end %>
</div>

<div class="new_contact">
  <%= turbo_frame_tag 'new_contact' do %>
  <% end %>
</div>

<div class="contacts_list">
  <%= turbo_frame_tag 'contacts_list' do %>
    <% @contacts.each do |contact| %>
      <%= render contact %>
    <% end %>
  <% end %>
</div>


